@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* #35495E */
/* #41B883 */

/* 68D8A3 */

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-accent: #41b883;
  --color-accent-hover: #38a172;
  --color-primary: #35495e;
  --color-primary-hover: #293849;
}

body {
  @apply font-inter text-primary;
}

h1,
h2,
h3,
h4 {
  @apply font-outfit;
}

.active {
  @apply bg-accent text-white;
}
select,
option,
textarea,
input {
  @apply border border-accent bg-white text-sm text-primary focus:outline-accent;
}
.input{
  @apply py-2 px-4 rounded
}
input {
  @apply w-full;
}
label {
  @apply text-sm text-primary;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.carousel .thumb {
  height: 20px !important;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #99fac5 !important;
  box-shadow: none !important;
  outline: none !important;
  margin: 4px 4px 0px 4px !important;
}

.carousel .thumb.selected {
  border: 2px solid #269450 !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 4px;
}
